<!DOCTYPE html>
<html>
  <head>
    <title>csf</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="/js/vue.global.js"></script>
    <script src="/js/index.js"></script>
  </head>

  <body>
    <div id="app">
      <login-panel
          v-if="!name"
          @name-changed="updateName($event)"></login-panel>
      <user-info
          v-if="!!name"
          :name="name"
          :order="order"
          :order-status="orderStatus"></user-info>
      <place-order
          v-if="!!name && !order"
          @order-submitted="placeOrder($event)"></place-order>
    </div>
  </body>
</html>
